<div id="navbar">
  <a href="#home" class="top1">Home</a>
  <a href="#About" class="top2">About us</a>
  <span id="pizza">+</span>
  <!-- <span id="la">+</span> -->
  <span id="dev">Network Me</span>
  <a href="#GetInvolved" class="top3">Get Involved</a>
  <a href="/login" class="top4">Log in</a>
  <a href="/register" class="top5">Register</a>
</div>
<div id="wrapper">
  <div class="section pizza" data-anchor="home">
    <p class="slogan anim-typewriter">Enter The Next Level Network</p>
  </div>
  <div class="section pizzaMan" data-anchor="About">
    <div class="right hover" onmouseover="PlaySound('mySound')" onmouseout="StopSound('mySound')">
      <h2 class="big2" id="about">About Us</h2>
      <p class="aboutUsP">Our mission is to bring
        <br>together communities based
        <br>on interests and proximity</p>
      <div class="middle">
      </div>
    </div>
    <audio id='mySound' src='audio/yahoo.mp3' />
  </div>
  <div class="section" data-anchor="GetInvolved">
    <p class="relative big">Get Involved</p>
    <div class="slide" id="menu1">
      <div class="menuDescription">
        <p class="daMenuDescription">
          <u>Sign Up</u>
          <br> 
          <ul>
            <li class="doesThisWork">
              Easy sign up
            </li>
                        <li class="doesThisWork">
              Automatically sign in via Google+ or Facebook!
            </li>
          </ul>
        </p>
      </div>
    </div>
    <div class="slide" id="menu2">
      <div class="menuDescription">
        <p class="daMenuDescription">
          <u>Connect with your passions</u>
          <br> 
            <li class="doesThisWork">
              Video Games
            </li>
            <li class="doesThisWork">
              Sports
            </li>
            <li class="doesThisWork">
              Crafts
            </li>
            <li class="doesThisWork">
              Anything you want.
            </li>
        </p>
      </div>
    </div>
    <div class="slide" id="menu3">
      <div class="menuDescription">
        <p class="daMenuDescription">
          <u>Create a community</u>
            <li class="doesThisWork">
              Connect with like-minded individuals
            </li>
            <li class="doesThisWork">
              Create tournaments and lan parties
            </li>
            <li class="doesThisWork">
              Collaborate on new projects
            </li>
            <li class="doesThisWork">
              Meet new mentors in your industry
            </li>
                        <li class="doesThisWork">
              The possibilities are endless
            </li>
        </p>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $('#wrapper').fullpage();
    });
  </script>