<form action="/login" enctype="application/x-www-form-urlencoded" method="POST">
  <div id="bigContainer">
    <label id="usernameId" class="label">Username:</label>
    
    <input class="input" type="text" placeholder="Enter Username">
    <br>
    <label class="label">Password:</label>
    <br>
    <input class="input" type="password" placeholder="Enter Password">
    <div id="submitButtonDiv">
      <button type="submit" class="login_button">Login</button>
    </div>
  </div>
</form>