<section class="form">
  <div class="tab-content">
    <div id="sign-up">
      <h1>Sign Up For Free</h1>


      <form action="/" method="post">

        <div class="top-row">
          <div class="field-wrap">
            {{!--
            <label class="register_label">First Name --}}

            </label class="register_label">
            <input class="register_input" type="text" placeholder="First Name" required autocomplete="off" />
          </div>
        </div>

        <div class="field-wrap">
          {{!--
          <label class="register_label">Last Name --}}

          </label class="register_label">
          <input class="register_input" type="text" placeholder="Last Name" required autocomplete="off" />
        </div>
    </div>

    <div class="field-wrap">
      {{!--
      <label class="register_label">Email --}}

      </label class="register_label">
      <input class="register_input" type="text" placeholder="Email" required autocomplete="off" />
    </div>
  </div>

  <div class="field-wrap">
    {{!--
    <label class="register_label">Username --}}

    </label class="register_label">
    <input class="register_input" type="text" placeholder="Username" required autocomplete="off" />
  </div>
  </div>

  <div class="field-wrap">
    {{!--
    <label class="register_label">Password --}}

    </label class="register_label">
    <input class="register_input" type="text" placeholder="Password" required autocomplete="off" />
  </div>
  </div>

  <div class="field-wrap">
    {{!--
    <label class="register_label">Location --}}

    </label class="register_label">
    <input class="register_input" type="text" placeholder="Location" required autocomplete="off" />
  </div>
  </div>

  <div class="field-wrap">
    {{!--
    <label class="register_label">Game --}}

    </label class="register_label">
    <input class="register_input" type="text" placeholder="Game" required autocomplete="off" />
  </div>
  </div>

  <button class=get-started type="submit" />Get Started</button>
  </div>
  </div>
  </form>
</section>


<script src="js/register.js"></script>